.hidden-mobile{
    @media (max-width: 480px){
        display: none!important;
    }
}

.show-mobile{
    display: none!important;
    @media (max-width: 480px){
        display: block!important;
    }
}
