*{
margin: 0;
padding: 0;
}

body{
    font-size: 16px;
    font-family: 'Open Sans';
}
body:not(.dark-mode){
    background-color: #f7f8f9;
}
::placeholder{
    color: #A3A6AA;
}

.close{
    text-shadow: none;
}